version: '3.8'

services:
  autocash-app:
    image: autocash-app
    container_name: autocash-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      - SPRING_PROFILES_ACTIVE=prod
